#font-face{
    font-family: 'Roboto';
    src: url('../fontes/Roboto-Regular.ttf');
    font-weight: normal;
}

#font-face{
    font-family: 'Roboto';
    src: url('../fontes/Roboto-Bold.ttf');
    font-weight: 600;
}

#font-face{
    font-family: 'Roboto';
    src: url('../fontes/Roboto-Light.ttf');
    font-weight: 300;
}